<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>

<body>
    <h1>Edit product</h1>
    <form action="/products/<%= product._id %>?_method=PUT" method="POST">
        <label for="name">Product name</label>
        <input id="name" type="text" name="name" placeholder="Product name" value="<%= product.name %>">
        <label for="price">Price (unit)</label>
        <input id="price" type="numer" name="price" placeholder="Price" value="<%= product.price %>">
        <label for="category">Category</label>
        <select id="category" name="category">
            <option value="fruit">Fruit</option>
            <option value="vegetable">Vegetable</option>
            <option value="dairy">Dairy</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>

</html>