<%- include("partials/header") %>


<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="Title">
        </div>
        <div class="field">
            <lable>Image URL</lable>
            <input type="text" name="blog[image]" placeholder="Image">
        </div>
        <div class="field">
            <label>Blog content</label>
            <textarea name="blog[body]" placeholder="Blog body goes here..."></textarea>
        </div>
        <div class="field">
            <input type="submit" value="Submit" class="ui purple basic button">
        </div>
    </form>
</div>

<%- include("partials/footer") %>